<h1>Fabulous Friends</h1>

<div class="options">
  <button id="all">All</button>
  <button>Show [id]</button>
  <button>Search [keyword]</button>
  <button>Add new contact</button>
</div>
<hr>
<table id="contacts">
</table>