<h1>Fabulous Friends</h1>

<div class="options">
  <button id="all">All</button>
  <form id="find" method="post" action="contacts/">
    <label for="id">Find by ID</label>
    <input type="number" min=0 max=1000 name="id" id="id">
    <input type="submit">
  </form>
</div>
<hr>
<table id="contacts">
</table>